<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="nav">
    <header>
        <!-- Nav principal de la página web de inicio, genérico -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container-fluid px-4 d-flex align-items-center justify-content-between">

                <!-- Logo -->
                <a class="navbar-brand fw-bold" href="#page-top" title="Riffy" id="pack_riffy_logo">
                    <img th:src="@{/img/riffy_logo.png}" alt="Logo de Riffy" id="logoRiffy">
                    Riffy
                </a>

                <!-- Boton despliegue -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" 
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" th:href="@{/}">
                                <i class="fas fa-home me-1"></i>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" id="nav-nosotros" th:href="@{/#seccion-nosotros}">
                            <i class="fas fa-users me-1"></i> Nosotros
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" id="nav-servicios" th:href="@{/#seccion-servicios}">
                                <i class="fas fa-guitar me-1"></i> Servicios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3" id="nav-contacto" th:href="@{/#seccion-contacto}">
                                <i class="fas fa-envelope me-1"></i> Contacto
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row gap-2">
                        <a th:href="@{/login(section=login)}" class="btn btn-outline-primary rounded-pill px-3">
                            <span class="d-flex align-items-center">
                                <i class="fas fa-sign-in-alt me-2"></i>
                                <span class="small">Iniciar sesión</span>
                            </span>
                        </a>
                        <a th:href="@{/login(section=register)}" class="btn btn-primary rounded-pill px-3 text-white">
                            <span class="d-flex align-items-center">
                                <i class="fas fa-user-plus me-2"></i>
                                <span class="small">Registrarse</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>