<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso - Riffy</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/riffy_favicon.ico}">

    <div th:replace="~{fragmentos/sections :: head}"></div>
</head>


<body>
    <div class="cabecera-auth">
        <a th:href="@{/}">
            <img th:src="@{/img/riffy_logo.png}" alt="Riffy" class="logo-auth" />
        </a>

        <a th:href="@{/}" class="enlace-volver">
            <i class="fas fa-arrow-left"></i>
            Volver al inicio
        </a>
    </div>
    <div class="pagina-auth">
        <div class="tarjeta-auth">

            <div class="pestanas-auth">
                <button class="pestana activa" id="pestana-login">Iniciar sesión</button>
                <button class="pestana" id="pestana-registro">Registrarse</button>
            </div>

            <div class="cuerpo-auth">

                <div class="seccion-formulario activa" id="sec-login">
                    <h2>Bienvenido de nuevo</h2>
                    <p>Accede a tu cuenta</p>
                    <form th:action="@{/login}" method="post">
                        <div class="campo-formulario">
                            <label>Usuario</label>
                            <input type="text" name="usuario" placeholder="Tu nombre de usuario" required />
                        </div>
                        <div class="campo-formulario">
                            <label>Contraseña</label>
                            <input type="password" name="contrasena" placeholder="••••••••" required />
                        </div>
                        <button type="submit" class="boton-enviar">Iniciar sesión</button>
                    </form>
                    <p class="pie-formulario">¿No tienes cuenta? <span id="enlace-registro">Regístrate aquí</span>
                    </p>
                </div>

                <div class="seccion-formulario" id="sec-registro">
                    <h2>Crea tu cuenta</h2>
                    <p>Únete a Riffy gratis</p>
                    <form th:action="@{/register}" method="post" id="form-registro">

                        <!-- Nombre -->
                        <div class="campo-formulario">
                            <label>Nombre completo</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Tu nombre completo" required />
                            <small class="mensaje-validacion" id="validacion-nombre"></small>
                        </div>

                        <!-- Usuario -->
                        <div class="campo-formulario">
                            <label>Usuario</label>
                            <input type="text" id="usuario" name="usuario" placeholder="Solo letras, números y _"
                                required />
                            <small class="mensaje-validacion" id="validacion-usuario"></small>
                        </div>

                        <!-- Email -->
                        <div class="campo-formulario">
                            <label>Email</label>
                            <input type="email" id="email" name="email" placeholder="tu@email.com" required />
                            <small class="mensaje-validacion" id="validacion-email"></small>
                        </div>

                        <!-- Contraseña -->
                        <div class="campo-formulario">
                            <label>Contraseña</label>
                            <input type="password" id="contrasena" name="contrasena"
                                placeholder="Mín. 8 caracteres, 1 mayúscula y 1 número" required />
                            <small class="mensaje-validacion" id="validacion-contrasena"></small>
                        </div>

                        <!-- Confirmar contraseña -->
                        <div class="campo-formulario">
                            <label>Confirmar contraseña</label>
                            <input type="password" id="contrasena2" name="contrasena2"
                                placeholder="Repite tu contraseña" required />
                            <small class="mensaje-validacion" id="validacion-contrasena2"></small>
                        </div>

                        <!-- Términos -->
                        <div class="campo-formulario">
                            <div class="campo-checkbox">
                                <input type="checkbox" id="terminos" required />
                                <label for="terminos">
                                    He leído y acepto los Términos y condiciones y la Política de privacidad
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="boton-enviar">Crear cuenta</button>
                    </form>
                    <p class="pie-formulario">¿Ya tienes cuenta? <span id="enlace-login">Inicia sesión</span></p>
                </div>

            </div>
        </div>
    </div>

    <div th:if="${mensajeLogout}" data-toast-logout th:data-mensaje="${mensajeLogout}" hidden></div>

    <div th:if="${errorLogin}" data-toast-login th:data-mensaje="${errorLogin}" hidden></div>

    <div th:if="${errorRegistro}" data-toast-error th:data-mensaje="${errorRegistro}" hidden></div>

    <div th:if="${registroExito}" data-toast-success th:data-mensaje="${registroExito}" hidden></div>

</body>

</html>