<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riffy - Admin</title>

    <th:block th:replace="~{fragmentos/sections :: head}"></th:block>
    
    <script defer th:src="@{/js/jtable.js}"></script>

</head>

<body>

    <div th:replace="~{fragmentos/nav-admin :: nav-admin}"></div>

    <main class="home-main">

        <div class="container py-4">

            <div id="seccion-usuarios" class="seccion activa">
                <div class="card">
                    <div class="card-header">Usuarios</div>
                    <div id="tabla-usuarios"></div>
                </div>
            </div>

            <div id="seccion-productos" class="seccion">
                <div class="card">
                    <div class="card-header">Productos</div>
                    <div id="tabla-productos"></div>
                </div>
            </div>

            <div id="seccion-conversaciones" class="seccion">
                <div class="card">
                    <div class="card-header">Conversaciones</div>
                    <div id="tabla-conversaciones"></div>
                </div>
            </div>

        </div>

    </main>

</body>

</html>