<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Riffy</title>

    <div th:replace="~{fragmentos/sections :: head}"></div>
</head>

<body>
    <!-- Fragmento de header -->
    <div th:replace="~{fragmentos/nav-home :: nav-home}"></div>

    <main class="home-main">
        <!-- <div th:replace="~{fragmentos/sections :: bienvenida}"></div> -->
        <div th:replace="~{fragmentos/sections :: vistos-recientemente}"></div>
        <div th:replace="~{fragmentos/sections :: productos-categoria}"></div>
    </main>
</body>

</html>