<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riffy</title>

    <div th:replace="~{fragmentos/sections :: head}"></div>
</head>
<body>
    <!-- Fragmento de header -->
    <div th:replace="~{fragmentos/nav :: nav}"></div>

    <!-- Contenido principal -->
    <main>
        <div th:replace="~{fragmentos/sections :: encabezado}"></div>
        <div th:replace="~{fragmentos/sections :: como-funciona}"></div>
        <div th:replace="~{fragmentos/sections :: preguntas-despliegue}"></div>
    </main>

    <div th:replace="~{fragmentos/footer :: footer}"></div>


</body>
</html>